<section class="home-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <h1>Eat</h1>

                <textarea rows="4" cols="50" id="type-burger">

                </textarea>
                <br>
                <input type="submit" id="submit-burger">
                <p>Enter the burger you want to eat and click the 'submit' button.</p>

            </div>
        </div>
    </div>
</section>

<section class="burgers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 burger-items">
                {{!-- For each burger row in burgers_db, create a list item with its id, its name, and its devour status --}}
                <ul>
                    {{#each burgers}}
                        <li>
                            
                            <p><span class="label">ID:</span> {{this.id}}</p>
                            <p><span class="label">Burger:</span> {{this.burger}}</p>
                        
                            <button data-id="{{this.devour}}" class="devour-btn">Devour It!</button>

                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>